.contact{
    text-align: center;
}
.us{
    display: inline-flex;
    background-color: #4d4d4d;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 50px;
    color: #e07373;

}
.one{

    margin: 10px 45px;
    padding-top: 50px;
}
a{
    text-decoration: none;
    color: #000;
    margin: 0 3px;
}
a:hover{
    color: #e07373;
}