.contact{
    text-align: center;
}
.us{
    display: inline-flex;
    background-color: #e07979;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 50px;

}
.one{

    margin: 10px 45px;
    padding-top: 50px;
}
a{
    text-decoration: none;
    color: #444444;
    margin: 0 3px;
}