.remove-link-decoration:focus,
.remove-link-decoration:link,
.remove-link-decoration:visited,
.remove-link-decoration:hover,
.remove-link-decoration:active {
  color: black;
}

.trip-card:hover {
    transform: scale(1.1);
    margin: 1.1em;
    padding: 1.1em;
    opacity: 1;
}

.trip-card:hover img {
  transform: scale(1.05);
}
.trip-card {
  opacity: 0.7;
}